<!DOCTYPE HTML>
<meta charset="utf-8">

<head>
    <title>static</title>
    <link rel="apple-touch-icon-precomposed" href="../../assets/favicon/apple-touch-icon-precomposed.png">
    <link rel="icon" href="../../assets/favicon/favicon.png">
    <link rel="stylesheet" href="../cardValidator/style.css">
</head>

<body>

    <main class="main">
        <div class="validator">
            <div class="validator__cards ">
                <img class="validator__img"  src="american_express_curved.png" alt="">
                <img class="validator__img"  src="mastercard_curved.png" alt="">
                <img class="validator__img"  src="/src/assets/cards/visa_curved.png" alt="">
            </div>
            <div class="form-group">
                <label for="input" class="form-group__label">Check card</label>
                <div class="form-group__input">
                    <input class="form-group__control"  type="text" id="input" placeholder="Placeholder">
                </div>
            </div>    
        </div>
    </main>
</body>